<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      <h4>Interview List</h4>
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Candidate</th>
            <!-- <th>Round</th> -->
            <th>Date</th>
            <th>Interviewer</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let interview of interviewList">
            <td>{{ interview.candidateName }}</td>
            <!-- <td>{{ interview.round }}</td> -->
            <td>{{ interview.date }}</td>
            <td>{{ interview.interviewer }}</td>
            <td>
              <span class="badge" [ngClass]="{
              'bg-warning': (interview.hasFeedback ? interview.feedbackResult : interview.status) === 'SCHEDULED',
              'bg-success': (interview.hasFeedback ? interview.feedbackResult : interview.status) === 'Shortlisted',
              'bg-danger': (interview.hasFeedback ? interview.feedbackResult : interview.status) === 'Rejected',
              'bg-info': (interview.hasFeedback ? interview.feedbackResult : interview.status) === 'Next Round',
              'bg-secondary': (interview.hasFeedback ? interview.feedbackResult : interview.status) === 'On Hold'
            }">
                {{ interview.hasFeedback ? interview.feedbackResult : interview.status }}
              </span>
            </td>
            <td>
              <!-- Add Feedback -->
              <button *ngIf="interview.status === 'SCHEDULED' && !interview.hasFeedback" class="btn btn-primary btn-sm"
                (click)="openFeedback(interview)">
                Add Feedback
              </button>

              <!-- View Feedback -->
              <button *ngIf="interview.hasFeedback" class="btn btn-success btn-sm" (click)="viewFeedback(interview)">
                View Feedback
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Feedback Popup -->
<div class="custom-modal" *ngIf="selectedInterview">
  <div class="custom-modal-content">

    <div class="d-flex justify-content-between mb-3">
      <h5>Interview Feedback</h5>
      <button class="btn-close" (click)="closePopup()"></button>
    </div>

    <form [formGroup]="feedbackForm">

      <div class="mb-2">
        <strong>Candidate:</strong> {{ selectedInterview.candidateName }}
      </div>

      <div class="mb-2">
        <strong>Round:</strong> {{ selectedInterview.round }}
      </div>
      <div class="mb-3">
        <label>Rating</label>

        <div class="star-rating">
          <div class="star-rating">
            <i *ngFor="let star of stars" class="bi" [ngClass]="{
     'bi-star-fill text-warning': star <= (+feedbackForm.get('rating')?.value || 0),
     'bi-star text-secondary': star > (+feedbackForm.get('rating')?.value || 0)
   }" (click)="!isViewMode && setRating(star)">
            </i>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Feedback</label>
        <textarea class="form-control" formControlName="feedback"></textarea>
        <span class="error" *ngIf="
                  (feedbackForm.get('feedback')?.touched || feedbackForm.get('feedback')?.dirty) &&
                  getErrorMessage('feedback', 'Feedback', feedbackForm)
                ">
          {{
          getErrorMessage("feedback", "Feedback", feedbackForm)
          }}
        </span>
      </div>
      <div class="mb-3">
        <label>Status</label>
        <select class="form-select" formControlName="status">
          <option value="">Select</option>
          <option>Shortlisted</option>
          <option>Rejected</option>
          <option>Next Round</option>
          <option>On Hold</option>
        </select>
        <span class="error" *ngIf="
                  (feedbackForm.get('status')?.touched || feedbackForm.get('status')?.dirty) &&
                  getErrorMessage('status', 'Status', feedbackForm)
                ">
          {{
          getErrorMessage("status", "Status", feedbackForm)
          }}
        </span>
      </div>

      <div class="text-end">
        <button class="btn btn-secondary me-2" (click)="closePopup()">Cancel</button>
        <button class="btn btn-success" (click)="submitFeedback()">Submit Feedback</button>
      </div>

    </form>

  </div>
</div>