<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h4>Candidate List</h4>
    </div>

    <div class="card-body">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Experience</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let candidate of candidates">
             <td>{{ candidate.fullName }}</td>
            <td>{{ candidate.position}}</td>
            <td>{{ candidate.experience }} Years</td>
            <td>
              <span class="badge" [ngClass]="{
                'bg-warning': candidate.status === 'APPLIED' || !candidate.status,
                'bg-info': candidate.status === 'HR_SCHEDULED',
                'bg-success': candidate.status === 'HIRED',
                'bg-danger': candidate.status === 'Rejected'
              }">
                {{ candidate.status || 'Pending' }}
              </span>
            </td>
            <td>
              <button *ngIf="candidate.status !== 'Rejected'" class="btn btn-sm btn-success me-2" [routerLink]="['../schedule-interview', candidate.id]" [state]="{ candidate: candidate }">Schedule</button>
              <button class="btn btn-sm btn-info me-2">View</button>
              <button *ngIf="candidate.status !== 'Rejected'" class="btn btn-sm btn-danger me-2" (click)="candidate.id && rejectCandidate(candidate.id)">Reject</button>
              <button class="btn btn-sm btn-primary me-2" *ngIf="candidate.status === 'HR_SCHEDULED'" [routerLink]="['../interview-feedback', candidate.id]"> Feedback</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>